@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #8acff1;
  min-height: 100vh;
}

.polygon {
  clip-path: polygon(42% 0, 96% 10%, 100% 92%, 13% 100%, 0 38%);
  border-radius: inset(0% 45% 0% 45% round 10px);
  background-color: #003a6b;
}

::-webkit-scrollbar {
  width: 10px;
  transition: all ease 300ms;
}

::-webkit-scrollbar-track {
  background: #f8fafc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #8acff1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #003a6b;
}
